/** @format */

/* fonts */

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

/** 
    colors
*/

:root {
	--colorMain: hsla(210, 20%, 25%, 1);
	--colorBackground: hsla(210, 20%, 10%, 1);

	--colorLight: hsla(210, 100%, 100%, 1);
	--colorDark: hsla(210, 0%, 50%, 1);
}

body,
html {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	/* resetting body font size to 10px for easy em / rem conversion */
	font-size: 10px;

	font-family: 'Merriweather', 'Roboto', sans-serif;
	color: var(--colorLight);

	background: var(--colorMain);

	overflow-x: hidden;
}

.wrapper {
	position: relative;
	padding: 40px 150px;
	min-height: calc(100vh - 80px);

	overflow: hidden;
}

/**
* 	Navigation
* 	@prefix: nav
*/

.nav-Bar {
	position: absolute;
	top: 0;
	right: 0;

	height: 50px;

	margin: 50px;

	font-size: 2.4rem;

	display: flex;
	align-items: center;
}

.nav-Bar ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	list-style-type: none;

	margin: 0;
	padding: 0;
}

.nav-Bar li {
	margin-right: 25px;

	user-select: none;
	-webkit-user-select: none;
}

.nav-Bar li:nth-of-type(6) {
	display: none;
}

.nav-Bar span {
	filter: brightness(0.5);
}

.nav-Bar a {
	color: var(--colorLight);
	text-transform: lowercase;
	text-decoration: none;

	filter: brightness(0.5);

	transition: 0.25s ease;
}

.nav-Bar a[data-active='true'] {
	text-decoration: underline;
}

.nav-Bar a:hover,
.nav-Bar button:hover {
	filter: brightness(1);
}

.nav-Bar button {
	height: 50px;
	width: 50px;

	background: none;
	border: none;
	margin: none;
	padding: none;

	justify-content: center;
	align-items: center;

	color: var(--colorLight);
	filter: brightness(0.5);

	transition: 0.25s ease;

	cursor: pointer;
}

.nav-Bar ul li button {
	display: flex;
}

.nav-Bar button:focus {
	outline: none;
	filter: brightness(1);
}

.nav-Bar button img {
	width: 70%;
	height: 70%;

	object-fit: cover;
}

.nav-MenuOpenBttn {
	display: none;
}

/**
*	Header
*	@prefix: header
*/

.header {
	font-size: 2.4rem;

	max-width: 600px;
	margin: 50px 0;
}

.header h1,
.header p {
	margin: 0;
	padding: 0;

	font-weight: 300;
	letter-spacing: 1.5px;
}

.header h1 {
	font-weight: 500;
	filter: brightness(0.5);
}

.header p {
	filter: brightness(0.8);
}

/**
*	Generator
*	@prefix: generator
*/

.generator-Container {
	position: relative;
	padding: 20px;
	margin: 100px auto 230px;

	max-width: 900px;

	border-radius: 5px;

	background: var(--colorLight);

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.generator-Output {
	margin: 0px 5px;

	background: none;
	border: none;

	font-size: 2rem;
	text-align: justify;
	line-height: 2.8rem;
	color: var(--colorDark);
	font-weight: 300;
}

.generator-Output p {
	margin: 10px 0;
}

.generator-Controls {
	width: 100%;
	height: 50px;

	margin-top: 20px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.generator-Controls label {
	display: none;
}

.generator-Controls button,
.generator-Controls select,
.generator-Controls input {
	padding: 10px 10px;
	margin: 5px 5px;

	background: var(--colorLight);
	border: 2px solid var(--colorDark);
	border-radius: 5px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	color: var(--colorDark);
	font-size: 1.4rem;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;

	transition: 0.25s ease;
}

.generator-Controls button {
	padding: 10px 25px;

	cursor: pointer;
}

.generator-Controls button img {
	margin-left: 15px;
	height: 1.4rem;
}

.generator-Controls button:focus,
.generator-Controls input:focus,
.generator-Controls select:focus {
	outline: none;
	border-color: var(--colorMain);
}

.generator-Controls button:hover {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.generator-Controls select {
	display: block;
	padding: 10px 20px;
	min-width: 200px;
}

.generator-Overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: hsla(210, 100%, 100%, 0.8);

	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.loader-Circle {
	width: 50px;
	height: 50px;

	border: 6px solid var(--colorBackground);
	border-radius: 50%;

	border-bottom-color: transparent;
	border-top-color: var(--colorMain);
	border-right-color: hsla(10, 50%, 55%, 1);

	animation: loader 1s ease-out infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*
*
*	Body background text
*
*/

.body-BackgroundText {
	position: absolute;
	right: 50px;
	bottom: 50px;

	font-size: 18rem;
	letter-spacing: 10px;
	text-transform: lowercase;

	filter: brightness(0.5);
	opacity: 0.1;
}

.body-Text,
.body-Code {
	margin: 150px auto;
	max-width: 900px;

	text-align: justify;
	font-size: 2rem;
	font-weight: 300;
}

.body-Text a {
	display: block;

	width: 100%;
	margin: 40px 0;

	text-align: center;
	color: var(--colorLight);
}

.body-Code h1 {
	font-size: 4.8rem;
	font-weight: 500;
	filter: brightness(0.5);
}

.body-Code p {
	margin: 45px 0px;
}

.body-CodeWrapper {
	margin: 10px 0px;

	background: var(--colorLight);
	color: var(--colorDark);

	font: 1.6rem monospace, sans-serif;

	padding: 20px;

	border-radius: 5px;

	box-shadow: 0px 2px 2px inset rgba(0, 0, 0, 0.35);
}

.body-CodeWrapper h3 {
	font: 1.6rem monospace, sans-serif;
}

.body-CodeWrapper h3:first-of-type {
	margin-top: 0;
}

/**
*	Footer
*	@prefix: footer
*/

.footer {
	padding: 50px 0;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: var(--colorBackground);

	font-size: 1.6rem;
	font-family: 'roboto', sans-serif;
	font-weight: 100;
}

.footer a {
	color: var(--colorLight);
}

.footer-Social {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0px 0px 0px;
}

.footer-Social a {
	height: 40px;
	width: 40px;

	margin: 5px 20px;

	border: 1px solid var(--colorLight);
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
	filter: brightness(0.5);
	transition: 0.25s ease;
}

.footer-Social a:hover {
	filter: brightness(1);
}

.footer-Social img {
	width: 65%;
	height: 65%;
	object-fit: cover;
}

/**
*
* 	Responsive styles
*
*/

@media (max-width: 1060px) {
	.body-BackgroundText {
		font-size: 13rem;
	}
}

@media (max-width: 920px) {
	.wrapper {
		padding: 40px 20px;
	}

	.nav-Bar li:nth-of-type(6) {
		display: block;
	}

	.nav-Bar ul {
		position: fixed;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;

		flex-direction: column;

		background: var(--colorBackground);

		z-index: 1000;

		transition: 0.5s ease;
		transform: translateY(-100%);
	}

	.nav-Bar span {
		display: none;
	}

	.nav-Bar li {
		margin-top: 30px;
	}

	.nav-MenuOpenBttn {
		position: fixed;
		top: 0;
		right: 0;

		margin: 20px;

		display: flex;
	}
}

@media (max-width: 700px) {
	.wrapper {
		padding: 0px 10px;
	}

	.generator-Output {
		font-size: 1.4rem;
		line-height: 2rem;
	}

	.generator-Controls {
		flex-direction: column;
		height: unset;
	}

	.body-BackgroundText {
		display: none;
	}

	.body-Code {
		font-size: 1.6rem;
	}

	.body-CodeWrapper {
		font-size: 1.4rem;
	}
	.body-CodeWrapper h3 {
		font-size: 1.4rem;
	}

	.body-Text {
		font-size: 1.6rem;
	}

	.header {
		margin-top: 120px;
		text-align: center;
	}
}
